<div class="container">

  <div class="sort-dropdown">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        類別
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="">家居物業</a>
        <a class="dropdown-item" href="">交通出行</a>
        <a class="dropdown-item" href="">休閒娛樂</a>
        <a class="dropdown-item" href="">餐飲食品</a>
        <a class="dropdown-item" href="">其他</a>
      </div>
    </div>
  </div>

  <div class="total-amount-section">
    <h2>總金額</h2>
    <div class="total-amount">???</div>
  </div>

  <div class="list-group mt-5">
    {{#each records}}

    <div class="row d-flex justify-content-around pt-3">
      <div class="front-part d-flex justify-content-center">
        <div class="category-part">
          <p>{{this.category}}</p>
        </div>
        <div class="col-auto mr-auto">
          <h5 style="display: inline; vertical-align: middle;">
            {{this.name}}
          </h5>
          <h6>
            {{this.date}}
          </h6>
        </div>

        <div class="amount-part">
          {{this.amount}}
        </div>

      </div>

      <div class="col-auto">

        <a class="btn btn-light">edit</a>
        <button class="btn btn-light" type="submit">delete</button>

      </div>
    </div>
    {{/each}}
  </div>